* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    /* chrome safari webkit内核 
        按下的高亮颜色
        为了让所有的浏览器按上去的感觉都统一，
    */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:-webkit-any-link {
    cursor: pointer;
}
/* 通用业务 */
.link {
    color: rgba(255, 255, 255, 0.8);
}
.page,body {
    background-color: rgb(17, 17, 17);
}
/* 移动一屏的容器 */
.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color:green; */
    overflow: hidden;
    color: rgba(255, 255, 255, 0.5);
}
.page {
    /* height: 200vh;
    background-color: gray; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* 一个方向可以滚动 */
    overflow-y: auto;
    /* 可以让我们的滚动如丝般顺划动
    overflow-scrolling:touc 
    -webkit 内核 实验阶段 chrome 前缀
    -moz- 火狐
    -ms- 微软
    移动端所有的设备只有webkit 内核的， 其它的很少
    */
    -webkit-overflow-scrolling: touch;
}
.page__hd {
    padding: 40px;
}
.page__title {
    text-align: left;
    font-weight: 400;
    font-size: 20px;
}
.page.home .page__title {
    font-size: 0;
    margin-bottom: 15px;
}
.page__desc {
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    font-size: 14px;
}

.page__ft {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
}
.page__ft.j_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}